[submodule "site/themes/creative"]
	path = site/themes/creative
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "site/public"]
	path = site/public
	url = git@github.com:morshel/morshel.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:Morshel/morshel.github.io
	branch = master
